[Unit]
Description=code-server.service

[Service]
ExecStart=/usr/bin/code-server
User=podman
StandardOutput=inherit
StandardError=inherit
WorkingDirectory=/home/podman
EnvironmentFile=/etc/user.env

[Install]
WantedBy=container-entrypoint.target

